
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Topic Modeling-checkpoint.ipynb
Review_data.csv
.ipynb_checkpoints/Requirements-checkpoint.txt
.ipynb_checkpoints/LDA_Gensim-checkpoint.ipynb
.ipynb_checkpoints/Topic Modeling_LDA_SKLearn-checkpoint.ipynb
.ipynb_checkpoints/Text_Gen_Model-checkpoint.ipynb
.ipynb_checkpoints/Data Structuring-checkpoint.ipynb
.ipynb_checkpoints/Functions-checkpoint.py
.ipynb_checkpoints/HDP_Tomotopy-checkpoint.ipynb
.ipynb_checkpoints/NMF_SKLearn-checkpoint.ipynb
.ipynb_checkpoints/Pachinko_Tomotopy-checkpoint.ipynb
.ipynb_checkpoints/Sentiment Analysis Modelling-checkpoint.ipynb
.ipynb_checkpoints/Text_Gen_Summarizer-checkpoint.ipynb
__pycache__/Functions.cpython-38.pyc
data/.ipynb_checkpoints/GPT-2-checkpoint.ipynb
data/.ipynb_checkpoints/top_dominant_results-checkpoint.csv
data/cluster_data/.ipynb_checkpoints/cluster_data-checkpoint.csv
data/cluster_data/.ipynb_checkpoints/results-checkpoint.csv
data/cluster_data/.ipynb_checkpoints/results_dict-checkpoint
Images/.ipynb_checkpoints/LDA_Cluster_1-checkpoint.html
Images/.ipynb_checkpoints/LDA_Cluster_0-checkpoint.html
Images/.ipynb_checkpoints/LDA_NYT-checkpoint.html
*.bin
data/Text_Gen_Files/Clean_Text_Topic_0
data/Text_Gen_Files/Clean_Text_Topic_1
data/Text_Gen_Files/Clean_Text_Topic_10
data/Text_Gen_Files/Clean_Text_Topic_11
data/Text_Gen_Files/Clean_Text_Topic_12
data/Text_Gen_Files/Clean_Text_Topic_13
data/Text_Gen_Files/Clean_Text_Topic_14
data/Text_Gen_Files/Clean_Text_Topic_18
data/Text_Gen_Files/Clean_Text_Topic_2
data/Text_Gen_Files/Clean_Text_Topic_3
data/Text_Gen_Files/Clean_Text_Topic_4
data/Text_Gen_Files/Clean_Text_Topic_5
data/Text_Gen_Files/Clean_Text_Topic_6
data/Text_Gen_Files/Clean_Text_Topic_7
data/Text_Gen_Files/Clean_Text_Topic_7
data/Text_Gen_Files/Clean_Text_Topic_8
data/Text_Gen_Files/Clean_Text_Topic_9
*.txt
.ipynb_checkpoints/DNN Text-Emotion Recognition -checkpoint.ipynb
.ipynb_checkpoints/Text2Emotion-checkpoint.ipynb
data/Datasets/.ipynb_checkpoints/compiled_data-checkpoint.csv
data/Datasets/.ipynb_checkpoints/Review_data-checkpoint.csv
data/HDP Results/IDF Model/.ipynb_checkpoints/HDP_IDF_Model_results-checkpoint.csv
data/HDP Results/ONE Model/.ipynb_checkpoints/HDP_ONE_Model_results-checkpoint.csv
data/HDP Results/PMI Model/.ipynb_checkpoints/HDP_PMI_Model_results-checkpoint.csv
.ipynb_checkpoints/Train_Sentiment_Analysis-checkpoint.ipynb
data/Datasets/random_sample_data.csv
data/Datasets/Sentiment140.csv
data/Datasets/yelp_reviews.csv
data/Datasets/pubmed-oa-subset.csv
data/Datasets/papers.csv
data/Datasets/compiled_data.csv
data/cluster_data/results_dict
data/cluster_data/results.csv
data/cluster_data/cluster_data.csv
data/HDP Results/IDF Model/HDP_IDF_Model_results.csv
data/HDP Results/ONE Model/HDP_ONE_Model_results.csv
data/HDP Results/PMI Model/HDP_PMI_Model_results.csv
data/top_dominant_results.csv
data/GPT-2.ipynb
data/Pickles/Sentiment140/tokenizer.pkl
data/Models/Sentiment_Analysis/gru_model.h5
